.search-input {
    margin-top: 20px;
    margin-left: 150px; /* Sağa kaydırmak için */
    width: 400px  !important;      /* Boyutu genişletmek için */
    height: 40px;      /* Yüksekliği büyütmek için */
  }
  
  .searchBtn{
    margin-top: 20px;
    margin-left: 5px;
    height: 40px;
  }

  .accountBtn{
    margin-top: 20px;
    margin-left: 350px;
    height: 40px;
  }
  .lgoutBtn{
    margin-top: 20px;
    margin-left: 5px;
    height: 40px;
  }