.side-menu {
  height: 100vh;
  background-color: #f8f9fa; /* Bootstrap light rengi */
  padding-top: 20px;
  border-right: 1px solid #e7e7e7; /* Yumuşak bir sınır */
}

.menu-item {
  color: #0f1011; /* Bootstrap dark text rengi */
  padding: 15px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #e2e6ea; /* Hover'da açık bir gri renk */
  color: #343a40;
}
.side-menu .nav-link {
  color: black !important; /* Tüm linklerin rengini siyah yapar */
}

.side-menu .nav-link:hover {
  color: #555 !important; /* Hover durumunda farklı bir koyu ton kullanmak için */
}
